
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>INFOs</title>
    <link rel="stylesheet" href="/board/layouts/board.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/board/layouts/main.js"></script>
</head>
<body onload="login()">
    <h2 style="text-align:left;float:left;" id="question">© All rights reserved</h2>
    <h2 style="text-align:right;float:right;" id="questionIndex"></h2>
    <hr style="clear:both;" />
    <table id="scoreboard">
        <tr>
            <th>Name</th>
            <th>Punkte</th>
            <th>Platz</th>
        </tr>
    </table>
</body>
</html>
